html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Open sans";
  color: #8080;
}

@import "layout";
@import "headerNavBar";
@import "auth/signin.scss";
@import "auth/signup.scss";
@import "page-title";
@import "form-fields";
